body {
    font-family: 'Playfair Display',
        serif;
    margin: 0;
    height: 100%;
    width: 100%;

}

section {
    text-align: center;
    margin-bottom: 10%;

}

.top-banner {
    background-image: url(images/first\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.text-banner {
    color: white;
}

h1 {
    font-size: 60px;
    text-shadow: 15px;
}

.yellow-color {
    color: rgb(224, 211, 26);
}

.donate-button {
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    background-color: lightcoral;
}

.donate-amount {
    color: black;
}

.Donate-today {
    font-size: 40px;
}

.hadith-first {
    margin-bottom: 3%;
}

.tk {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;


}

.eksho-tk {
    border-style: outset;
    border-radius: 5px;
    padding: 10px 15px
}

.dui-sho {
    color: red;
    margin-left: 15%;
    border-style: outset;
    border-radius: 5px;
    padding: 10px 15px;
    border-color: rgb(231, 41, 41);
    background-color: rgb(247, 212, 212);
}

.fiveh-tk {
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 15%;
    border-style: outset;

}

.thousend-tk {
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 15%;
    border-style: outset;

}

.optional-tk {
    color: gray;
    margin-top: 3%;
    text-decoration: underline;
}

.donation-plan {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.green {
    background-color: rgb(13, 133, 13);
    color: wheat;
}

.zakat-fund {
    margin-right: -10%;
    background-color: rgb(210, 245, 210);
    border-radius: 5px;
}

.mgf {
    margin-left: 25%;
    margin-right: 5%;
    background-color: cornsilk;
    border-radius: 5px;
}

.eff {
    border-radius: 5px;
    margin-left: 5%;
    background-color: rgb(252, 212, 212);
}

.footer {
    color: wheat;
    text-align: center;
    background-color: rgb(71, 71, 82);
}