body {
    font-family: 'Playfair Display',
        serif;
}

section {
    display: flex;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 15px;
    text-decoration: none;
}

.yellow-color {
    color: rgb(224, 211, 26);
}

.text-align {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

a {
    text-align: center;
}

#link-button {
    text-decoration: none;
    background-color: rgb(236, 136, 21);
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
}